{% extends "layout.html" %}

{% block body %}
<main role="main" class="inner cover">
    <!-- <form action = "http://localhost:5000/score" method = "POST" enctype = "multipart/form-data" class="form-horizontal">
      <label class="custom-file">
            <input type="file" id="file" class="custom-file-input">
            <span class="custom-file-control"></span>
      </label>
      <button type="submit" class="btn btn-secondary">SCORE</button>
      </form> -->

  <form action = "http://localhost:5000/score" method = "POST" enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <button type = "submit" class="btn btn-primary">SCORE</button>
  </form>

</main>
{% endblock %}
