{% extends "layout.html" %}

{% block body %}
<div class="container">
        <div class="row">
          <div class="col-sm">
                <img src="{{url}}" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-sm">
                <table class="table table-sm">
                        <thead>
                          <tr>
                            <th scope="col"> </th>
                            <th scope="col">Brasfield Score</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row"> Total </th>
                            <td>{{score}}</td>
                          </tr>
                          <tr>
                            <th scope="row">sub-score</th>
                            <td>to-do</td>
                          </tr>
                        </tbody>
                      </table>
          </div>
        </div>
      </div>
{% endblock %}
